{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    {% include ('nav.html.twig') %}

    <div class="container">

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.gender) }}
            {{ form_row(registrationForm.birthDate) }}
            {{ form_row(registrationForm.login) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    
{% endblock %}
